html,body{
    overflow-x: hidden;   
}

#search{
    width: 85%;
    margin: 0 auto;
}

#subtitle{
    margin-left: 13px;   
}

.rpanel{
    width: 90%;
    margin: 20px auto;
    
}

.serror{
    border: 1px solid red;   
}

#basedir{
    width: 70%;
}

#dirsel{
    text-align: center;
}